/**
======================================
 Title: theme.css 
 Author: Professor Krasso
 Date: 1/08/23
 Modified By: Janis Gonzalez
 Description: For the light and dark themes used for the  WEB 330 course
 Sources Used: Assign_1 word document provided
=====================================
*/


/* values and variable names for light theme */

body.light-theme {
    --text-color: #000;
    --background-color: #fff;
    --anchor-color: #4F3674;
    --h1-background-color: #3c275a;
    --h1-border-color: #D6A800;
    --heading-background-color: #3c275a;
    --heading-color: #fff;
    --heading-border-color: #D6A800;
    --anchor-hover-color: #4F3674;
    --anchor-hover-background-color: #D6a800;
    --card-background-color: #FFF;
    --card-title-color: #4F3674;
    --btn-background-color: #4F3674;
    --btn-color: #fff;
    --btn-hover-background-color: #D6A800;
    --btn-hover-color: #4F3674;
    --input-border-color: #ccc;
    --table-header-background-color: #4F3674;
    --table-header-color: #fff;
    --table-border-color: #ddd;
    --table-hover-background-color: #D6A800;
    --table-hover-color: #4F3674;
}


/* values and variable names for dark theme */

body.dark-theme {
    --text-color: #fafafa;
    --background-color: #303030;
    --anchor-color: #fff;
    --h1-background-color: #9c27b0;
    --h1-border-color: #9c27b0;
    --heading-background-color: #424242;
    --heading-color: #fff;
    --heading-border-color: #424242;
    --anchor-hover-color: #d176e1;
    --anchor-hover-background-color: #303030;
    --card-background-color: #424242;
    --card-title-color: #d176e1;
    --btn-background-color: #d176e1;
    --btn-color: #fff;
    --btn-hover-background-color: #7d4787;
    --btn-hover-color: #fff;
    --input-border-color: #303030;
    --table-header-background-color: #D176E1;
    --table-header-color: #fff;
    --table-border-color: #303030;
    --table-hover-background-color: #7D4787;
    --table-hover-color: #fff;
}


/* uses the attribute variables so that the color will be the theme selected by the individual */

body {
    color: var(--text-color);
    background: var(--background-color);
}


/* uses the attribute variables so that the color will be the theme selected by the individual */

a {
    color: var(--anchor-color);
    text-decoration: none;
}


/* uses the attribute variables so that the color will be the theme selected by the individual */

a:hover {
    background-color: var(--anchor-hover-background-color);
    color: var(--anchor-hover-color);
}


/* uses the attribute variables so that the color will be the theme selected by the individual */

h1 {
    color: var(--heading-color);
    background-color: var(--h1-background-color);
    padding: 10px;
    border: solid 1px;
    border-color: var(--h1-border-color);
}


/* uses the attribute variables so that the color will be the theme selected by the individual */

h2,
h3,
h4 {
    color: var(--heading-color);
    background-color: var(--heading-background-color);
    padding: 10px;
    border: solid 1px;
    border-color: var(--heading-border-color);
}


/* uses the attribute variables so that the color will be the theme selected by the individual */

.card {
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}


/* uses the attribute variables so that the color will be the theme selected by the individual */

.card-title {
    text-align: center;
    font-size: 2em;
    color: var(--card-title-color);
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: #000;
    border-radius: 4px;
}


/* uses the attribute variables so that the color will be the theme selected by the individual */

.input {
    padding: 6px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-color: var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
}


/* uses the attribute variables so that the color will be the theme selected by the individual */

.btn-primary {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
}


/* uses the attribute variables so that the color will be the theme selected by the individual */

.btn-primary:hover {
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-color);
}


/* uses the attribute variables so that the color will be the theme selected by the individual */

.drop-down-menu {
    padding: 6px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-color: var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.table {
    border-collapse: collapse;
    width: 20%;
    margin-bottom: 30px;
}

.table th {
    text-align: left;
    background-color: var(--table-header-background-color);
    color: var(--table-header-color);
}

.table td,
th {
    border: 1px solid var(--table-border-color);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.table-hover tr:hover {
    background-color: var(--table-hover-background-color);
    color: var(--table-hover-color);
    cursor: pointer;
}